/* Homepage 1*/

// grid
.col-lg-4.custom-col-lg-4 {
  @include large-device {
    flex: 0 0 auto;
    width: 20%;
  }
}

// hero section
.hero-section {
  @include mobile-device {
    margin-top: 40px;
  }
  .inner-content-wrapper {
    position: absolute;
    top: 24%;
    left: 5%;
    width: 560px;
    z-index: 999;
    @include desktop() {
      top: 19%;
    }
    @include tablet() {
      top: 28%;
    }
    @include small-device() {
      position: static;
      padding: 80px 30px;
      width: auto;
    }
  }
  .hero-title {
    color: $white-color;
    @include tablet() {
      font-size: 36px;
    }
    @include small-device() {
      font-size: 30px;
    }
  }
  .hero-content {
    color: $white-color;
  }
}
.hero-slider-content {
  background-size: contain;
  background-repeat: no-repeat;
  height: 660px;
  border-radius: 20px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    background: linear-gradient(
      90deg,
      rgba(2, 41, 98, 0.7343312324929971) 0%,
      rgba(2, 41, 98, 0) 100%
    );
    z-index: 0;
  }
  &::before {
    content: "";
    content: "";
    position: absolute;
    width: 100%;
    height: 16%;
    bottom: -36px;
    left: 0;
    right: 0;
    border-radius: 20px;

    background: linear-gradient(
      -180deg,
      rgba(255, 255, 255, -17%) 8%,
      white 37%
    );
    z-index: 1;
  }
  @include desktop() {
    height: 500px;
    background-size: cover;
  }
  @include tablet() {
    height: 400px;
    background-size: cover;
  }
  @include small-device() {
    height: auto;
    background-size: cover;
  }
}
.hero-nav-slider {
  .swiper-slide-thumb-active {
    .hero-nav-img {
      border: 3px solid $primary-color;
    }
  }
  .hero-nav-img {
    width: 220px;
    border-radius: 20px;
    @include desktop() {
      width: 170px;
    }
    @include small-device() {
      width: 135px;
    }
  }
}

// hero swiper slider
.travelSwiper {
  top: -70px;
  @include small-device {
    top: -45px;
  }
}
.swiper-slide {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

// travel-package-section
.single-travel-package {
  border-width: 1px;
  border-color: rgb(245, 245, 245);
  border-style: solid;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 13px 0px rgba(15, 49, 120, 0.1);
  padding: 10px 10px 30px 10px;
  height: 100%;
  .travel-img {
    @include large-device {
      max-width: 260px;
    }
    border-radius: 10px;
  }
  .single-title {
    text-transform: capitalize;
    font-weight: 700;
    color: $secondary-color;
    display: inline-block;
    transition: 0.3s;
    &:hover {
      color: $primary-color;
    }
  }
  .single-location {
    font-weight: 400;
    font-size: 12px;
    display: inline-block;
    text-transform: capitalize;
  }
  .single-review {
    font-weight: 400;
    font-size: 12px;
    display: inline-block;
    text-transform: capitalize;
  }
  .single-price {
    font-weight: 400;
    font-size: 12px;
    display: inline-block;
    text-transform: capitalize;
  }
  .single-price span {
    font-weight: 700;
  }
}

//offer-package-section
.offer-package-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 80px 50px;
  border-radius: 20px;
}

//single-home-blog
.single-home-blog {
  border-radius: 20px;
  padding: 30px 30px 140px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  @include mobile-device() {
    padding: 20px;
  }
  .overlay {
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(2, 41, 98);
    background: linear-gradient(
      90deg,
      rgba(2, 41, 98, 0.7343312324929971) 0%,
      rgba(2, 41, 98, 0) 100%
    );
    z-index: 0;
  }
  .title {
    color: $secondary-color;
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    z-index: 1;
    color: $white-color;
    transition: 0.3s;
    &:hover {
      color: $primary-color;
    }
    @include mobile-device {
      font-size: 20px;
    }
    @include large-device {
      padding-right: 38%;
    }
    @include portrait-phone() {
      display: block;
    }
  }
  .btn2 {
    position: relative;
    z-index: 1;
    @include mobile-device() {
      padding: 5px 20px;
    }
  }
}
