/* Header Section */
.header-section {
  margin-top: 30px;
  margin-bottom: 30px;
  transition: 0.5s;

  .logo {
    width: 160px;
    @include portrait-phone() {
      margin-bottom: 10px;
    }
    @include desktop() {
      width: 80px;
    }
  }
  .login-btn {
    border: 1px solid $primary-color;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0;
    border-radius: 30px;
    background-color: $white-color;
    padding: 4px 10px 4px 4px;
    font-weight: 500;
    color: $secondary-color;
    text-transform: capitalize;
    transition: 0.3s;
    .login-icon {
      margin-right: 2px;
      font-size: 24px;
      color: $secondary-color;
      transition: 0.3s;
      transform: scale(0.9);
    }
    &:hover {
      background: $primary-color;
      color: $white-color;
      .login-icon {
        color: $white-color;
        transform: scale(1.1);
      }
    }
  }
  .location {
    position: relative;
  }
  .flexible-wrp {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    width: 200px;
    background: $white-color;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 150%;
    left: 0%;
    z-index: 1;
    h6 {
      font-weight: 500;
      font-size: 14px;
      padding: 10px 0px 5px 0px;
    }
  }
  .flexible-search {
    margin-top: 10px;
    display: block;
    padding: 8px 20px;
    background: $white-color;
    border-radius: 30px;
    transition: 0.3s;
    color: $secondary-color;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px !important;
    &:hover {
      padding-left: 50px;
    }
  }
  .header-search-btn {
    border-radius: 30px;
    font-size: 14px;
    @include tablet() {
      font-size: 14px;
      padding: 5px 24px;
    }
    @include desktop() {
      width: 100px;
      height: 30px;
      font-size: 12px;
      line-height: 0;
      margin: 0;
      text-align: center;
      border-radius: 5px;
      &::before {
        // content: initial;
      }
    }
  }

  .add-guest {
    font-size: 14px;
    color: rgba($secondary-color, 0.5);
    border: none;
    background-color: transparent;
    font-weight: 500;
  }
}

// add_guest_wrapper
.add_guest_wrapper {
  position: absolute;
  top: 120%;
  z-index: 999;
  width: 280px;
  border-radius: 20px;
  background: $white-color;
  box-shadow: 0px 16px 54px 0px rgba(15, 49, 120, 0.1);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  .list {
    padding: 20px;
    border-bottom: 1px solid $border-color;
    &:last-child {
      border-bottom: none;
    }
  }
  .guest-title {
    font-size: 12px;
    display: block;
    font-weight: 700;
    text-transform: capitalize;
  }
  .guest-subtitle {
    font-size: 10px;
    display: block;
    font-weight: 500;
    text-transform: capitalize;
  }
  .add-guest-btn {
    border: 1px solid $border-color;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: $white-color;
    color: $secondary-color;
    font-size: 12px;
    border-radius: 50%;
  }
  .guest_count {
    width: 50px;
    display: inline-block;
    border: none;
    text-align: center;
  }
}

// form-grp
.form-grp.show {
  .add_guest_wrapper {
    visibility: visible;
    opacity: 1;
  }
  .flexible-wrp {
    visibility: visible;
    opacity: 1;
  }
}
.header-info-wrapper {
  border-radius: 38px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 16px 54px 0px rgba(15, 49, 120, 0.1);
  padding: 5px 30px;
  @include tablet() {
    padding: 5px 15px;
  }
  .form-grp {
    width: 130px;
    .label {
      display: block;
      font-size: 12px;
      font-weight: 500;
      color: $secondary-color;
      text-transform: capitalize;
    }
    .form-input {
      border: none;
      font-size: 8px;
      text-transform: capitalize;
    }
  }
  .header-separator {
    height: 50px;
    width: 1px;
    background-color: $border-color;
    display: inline-block;
    margin: 0 10px;
  }
  &.hide-nav {
    opacity: 0;
    visibility: hidden;
  }
}
// header-input
.header-input {
  padding: 8px 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid $border-color;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 13px 0px rgba(15, 49, 120, 0.1);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 10px 18px 0px rgba(15, 49, 120, 0.1);
    padding: 8px 30px;
  }
  &.show {
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
  .input {
    cursor: pointer;
    border: none;
    &:disabled {
      background: #fff;
    }
  }
  .search-btn {
    border: none;
    border-radius: 50%;
    color: $white-color;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: $primary-color;
    display: inline-block;
  }
}
// cancel-guest
.cancel-guest {
  color: $secondary-color;
  position: absolute;
  font-size: 14px;
  top: 24px;
  right: 55px;
  opacity: 0;
  visibility: hidden;
}
.cancel-guest.show {
  opacity: 1;
  visibility: visible;
}
.nice-select.housing .current {
  font-size: 10px;
}
.label i {
  margin-right: 5px;
}

// fixed menu styles
.header-section.fixed {
  padding: 10px 0;
  transition: 0.3s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  background: $white-color;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 16px 54px 0px rgba(15, 49, 120, 0.1);
  margin-top: 0;
}
.header-section.add-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}
.trigger-input-wrapper {
  border: 1px solid $primary-color;
  width: 400px;
  border-radius: 2px;
  display: flex;
  position: relative;
  margin: 0 auto;
  display: none;
  label {
    background-color: $primary-color;
    color: $white-color;
    display: block;
    padding: 6px 10px;
    position: absolute;
    right: 0;
    top: 0;
  }
  input {
    border: none;
    padding: 6px 20px;
  }
  &.show {
    opacity: 1;
    visibility: visible;
    display: block;
  }
}
.mobile-trigger-btn {
  @include small-device() {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center !important;
    padding: 0 !important;
  }
}

// modal
.mobile-info-wrapper {
  box-shadow: 0px 16px 54px 0px rgba(15, 49, 120, 0.1);
}
.mobile-header-info-wrapper {
  border-radius: 38px;
  background-color: rgb(255, 255, 255);
  box-shadow: none;

  .form-grp {
    width: 100%;
    .form-input {
      border: none;
      font-size: 14px;
      text-transform: capitalize;
      padding: 10px 20px;
      border: 1px solid $secondary-color;
      width: 100%;
      margin-bottom: 20px;
    }
    .label {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
}
.mobile-housing {
  display: block;
  width: 100%;
  border: 1px solid $secondary-color;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 0px !important;
  .list {
    width: 100%;
  }
  &:hover {
    border: 1px solid $secondary-color;
  }
}
.modal-header-info-wrapper.modal-header-info-wrapper {
  opacity: 1;
  visibility: visible;
  display: block;
}
.modal {
  z-index: 99999;
}
